<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Cacao
    </a>
    <div *ngIf="currentUser; else elseBlock">
        <a>
            <img src="{{currentUser.imgUrl}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
    </div>
    <ng-template #elseBlock>
        <a routerLink="/login">
            Login
        </a>
    </ng-template>
</nav>
<div>
    <div>
        <div *ngIf="currentUser">
            <app-friend-list class="sidebar"></app-friend-list>
        </div>
        <div style="margin-left: 220px;">
            <main class="container" style="background-color: chartreuse;">
                <router-outlet ></router-outlet>
            </main>

        </div>
    </div>
</div>