.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
    overflow: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main-container{
    height:88vh;
    width: 100%;
}

#collapseFriends {
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    #collapseFriends {
        position: fixed;
        left: 10px;
    }
}