<nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Cacao
    </a>
    <div *ngIf="currentUser; else elseBlock">
        <button type="button" data-toggle="collapse" data-target="#collapseFriends" aria-expanded="false" aria-controls="collapseFriends">
            Friends
        </button>
        <a (click)="auth.logout()" style="margin-left: 20px; margin-right: 5px;">
            <img src="{{currentUser.imgUrl}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
    </div>
    <ng-template #elseBlock>
        <a routerLink="/login">
            Login
        </a>
    </ng-template>
</nav>
<div>
    <div class="row h-100" style="margin-top: 60px;">
        <div *ngIf="currentUser" class="collapse col-md-3 col-12 show" id="collapseFriends">
            <app-friend-list class=""></app-friend-list>
        </div>
        <div class="col" style="padding-right: 0px;">
            <main class="main-container">
                <router-outlet ></router-outlet>
            </main>
        </div>
    </div>
</div>