.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
    overflow: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main-container {
    margin-top: 56px;
}